{% extends 'index.html' %}
      {% block content %}
        <h1><b>Information du tournoi </b></h1>

<div>

    <p>
        <b> Nom: </b>
{{ tournament.nom }}
  </p>

  <p>
      <b> Emplacement : </b>
{{ tournament.localisation }}
  </p>

    <p>
        <b> Age: </b>
{{ tournament.date }}
  </p>

    <p>
        <b> Nombre de tours: </b>
{{ tournament.tours  }}
  </p>
<a href="/start_tournament/{{ tournament.doc_id }}" class="button">Commencer le tournoi</a>
    </br>
<a href="/tournament_list" class="button">Retour</a>
</div>


      {% endblock %}