{% extends 'index.html' %}
      {% block content %}


      </div>
      <div id="content">
        <h1><b>Creation de tournoi d'echec</b></h1>
        <h1><b>Etape 2/2</b></h1>
        <p><b>Renseignement sur le tournoi</b></p>

            <form action="#" method="post">
          <div class="form_settings">
                     <div class="form_settings">
            <p><span>Nom du tournoi</span><input class="contact" type="text" name="your_name" value="" /></p>
                       <p><span>Emplacemnt</span><input class="contact" type="text" name="your_name" value="" /></p>
            <p><span>Nombre de tours</span><input class="contact" type="text" name="your_email" value="" /></p>
            <p><span>Description du tournoi</span><textarea class="contact textarea" rows="8" cols="50" name="your_enquiry"></textarea></p>
            <p style="padding-top: 15px"><span>&nbsp;</span><a href="http://127.0.0.1:5000/tournament" class="button">Valider le tournoi</a><a href="http://127.0.0.1:5000/tournament1" class="button">Retour</a></p>
          </div>

 {% endblock %}