{% extends 'index.html' %}
      {% block content %}
        <h1><b> Suite du Tournoi </br></b></h1>
        <h1><b>   </br></b></h1>

<div id="site_content">
    <span>
        <p><b>Veuillez selectionner le vainqueur de chaque matchs</b></p>
          <form class="form_settings" action="/tour_progress/{{ tournament.doc_id }}" method="post">
             {% for i,m in match.items() %}
            <p>Match {{ i }}  </br>
              {{ m[0].nom }} {{ m[0].prenom }} VS
              {{ m[1].nom }} {{ m[1].prenom }}</p>
               {% if m[2] == None %}
                <select name="match{{ i }}">
              <option value="{{ m[0].doc_id }}"> {{ m[0].nom }} {{ m[0].prenom }}  </option>
              <option value="{{ m[1].doc_id }}"> {{ m[1].nom }} {{ m[1].prenom }}  </option>
              <option value="pat"> Pat</option>
            </select> {% else %} Match terminé {% endif %}</p> </br>
            {% endfor %}

        <h1><b><label for="name_tour">Nommez ce tour:</label></b></h1>
        <input id="name_tour" type="name_tour"  name="name_tour" placeholder="Tour {{ numero_tour }}" value="Tour {{ numero_tour }}"><br><br>

            <p style="padding-top: 20px"><span>&nbsp;</span>
   <p style="padding-top: 20px"><span>&nbsp;</span>
    <input type="submit" class= button value="Enrengistrer le résultat">
            </form>


  </span>
    <a href="/" class="button">Retour</a>

</div>
      {% endblock %}